footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #138691;
}

footer img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

footer p {
    color: white;
}

/* ********************************* FIN FOOTER *****************************************/